<li id="<%= dom_id(exception) %>">
  <%= link_to('delete', group_member_path(exception.group, exception), :method => :delete, 
              :remote => true, 
              :confirm => 'Are you sure you want to remove this member?', 
              :before => "$('##{dom_id(exception)}').fadeOut()") %> 
  <%= exception.email %>
</li>